<h1>Editing new movie</h1>

<%= render "form", new_movie: @new_movie %>

<br>

<div>
  <%= link_to "Show this new movie", @new_movie %> |
  <%= link_to "Back to new movies", new_movies_path %>
</div>
